corpora/
dictionaries/
results/
citations/
test.py
biblib/
.idea/
cswdatabse/
humanevaluation/
dictionaries_OLD/
/cswdatabase/
cswdictionary.py
news-dictionaries.py
humanevaluation.py
urban-dictionary.py
extractor.py
/biblib/
